*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    text-transform: capitalize;
}

:root{
    --color: #020043;
}

html{
    font-size: 100%;
}

section{
    padding: 1.2rem 7%;
}

/* navbar and header section css  */
header{
    background: url(./Resources/headerBg.png);
}
nav{
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li a{
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1.5rem;
    color: var(--color);
}
nav button{
    padding: 1rem 1.5rem;
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--color);
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
}

#headerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#headerSection .headerSectionImg{
    width: 100%;
}
.headerCategory{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.headerCategory img{
    width: 132px;
    height: 130px;
}
.headerCategor div h1{
    font-size: 48px;
}

.box1{
    margin-top: 2rem;
    padding: 24px;
    background-color: #fffff6;
    border-radius: 24px;
    border: 0.5px solid #dddcdc;
}
.box1 h2, p{
    padding-bottom: 15px;
}

.headerCategory .midLevel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
}
.headerCategory .midLevel div{
    background-color: #fdfded;
    padding: 1.5rem;
}
.headerCategory .midLevel div p{
    padding: 1rem 0;
}
.headerCategory .midLevel div img{
    float: right;
}


.headerCategory .midLevel .img1{
    width: 77px;
    height: 77px;
}
.headerCategory .midLevel .img2{
    width: 130px;
    height: 35px;
}

.morePadding{
    margin-top: 2rem;
}


/* about us section css  */
.weAre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.padding{
    display: inline-block;
    padding: 10px 24px;
    border: 1px solid #4D4C7B;
    border-radius: 30px;
}

.leftArea h1{
    font-size: 36px;
    color: #020043;
    line-height: 54px;
}
.leftArea p{
    font-size: 1rem;
    color: #4D4C7B;
    line-height: 24px;
}

.leftArea .btn{
    background-color: #FFC637;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
}
.leftArea > p, h1, .btn{
    margin-top: 1.2rem;
}
.rightArea{
    position: relative;
}
.rightArea .img1{
    width: 100%;
    
}
.rightArea .imgDes{
    position: absolute;
    left: -3rem;
    bottom: -2rem;
    background-color: #343268;
    padding: 1.5rem 2rem;
    max-width: 400px;
    width: 370px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
.rightArea .imgDes1{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    background-color: #020043;
    opacity: 80%;
    padding: 1.5rem 2rem;
    max-width: 400px;
    width: 370px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
.rightArea .imgDes h2{
    font-size: 24px;
}
.rightArea .imgDes1 h2{
    font-size: 24px;
}
.rightArea .imgDes p{
    padding-top: 1rem;
    line-height: 30px;
}
.rightArea .imgDes1 p{
    padding-top: 1rem;
    line-height: 30px;
}
.rightArea .imgDes img{
    width: 50px;
    height: 50px;
}
.rightArea .imgDes1 img{
    width: 50px;
    height: 50px;
}
.moreMargin{
    margin-top: 5rem;
}

.anotherSection{
    background-color: #fdfded;
    padding: 1rem;
    border-radius: 12px;
}

/* faq section css  */
.faq{
    max-width: 900px;
    margin: 2rem auto;
    color:#020043;
}
.faq p{
    padding: 1rem 2rem;
    border-top: 0.5px solid #e2e2e2;
}
.Question{
    margin-bottom: 1rem;
}
.flex{
    background-color: #fdfded;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex h4{
    font-size: 18px;
}


/* .Testimonial section css  */
.Testimonial{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.testiUse{
    padding: 1rem;
    background-color: #fdfded;
    border-radius: 12px;
}
.testiUse h2{
    font-size: 24px;
    line-height: 30px;
    color: #020043;
}
.testiUse p{
    padding: 1rem 0;
    font-size: 0.8rem;
    line-height: 25px;
    color: #4D4C7B;
}
.testiUse h3{
    color: #020043;
    font-size: 16px;
}
.testiUse span{
    color: #4D4C7B;
    font-size: 1rem;
}
.user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.center{
    text-align: center;
}


/* offer section css  */
.offersection{
    background: url(./Resources/headerBg.png);
}
.offer{
    position: relative;
}
.offer .offerImg{
    width: 100%;
}
.offer .offetDeta{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,#020043, #0200435e);
}
.offer .offetDeta .details{
    padding: 4rem 3rem;
}
.offer .offetDeta .details .detaImg{
    float: right;
}
.offer .offetDeta .details h1{
    font-size: 40px;
    line-height: 60px;
    color: white;
}

.buttons{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}

.Appoinment{
    background-color: #FFC637;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
}
.Learn{
    background-color: transparent;
    color: white;
    padding: 1rem 2rem;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}


/* footer section css  */

footer img{
    margin-bottom: 2rem;
}

.footer{
    background-color: #020043;
    color: white;
    padding: 7rem 7%;
}
.gridFooter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.footerLeft p{
    padding-bottom: 3rem;
}
.footerRight div{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}